<h1> 안녕하세요, 여기서 ㅇㄴㅆ을 새세요! </h1>
<h3>how to :<br> 1. 수녀의 youtube채널에 들어간다
    <a href="https://www.youtube.com/channel/UChqMfcYZRbpVqgnPW7jMaJg">수녀님YouTube</a>
    <br> 2.영상을 고른다
    <br> 3. 구독 버튼위에 ... 버튼(공유,저장 다음거) -> 텍스트 변환 열기 클릭
    <br> 4. 자막 스크립 복사해서 아래에 붙여넣기
</h3>

<a href="{%url 'about'%}">ABOUT</a>


<form action="{%url 'result'%}">
    <textarea name="fulltext" cols="40" rows="10"></textarea>
    <br>
    <input type="submit" value="Count!">
</form>

<img src="https://scontent-lhr3-1.cdninstagram.com/vp/1c50c2f7bbd0fdb7fd34eaf647369f2a/5D5CFB9E/t51.2885-15/e35/49772483_391481711427207_3733261891858616435_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=MTk2Mzg3NDAzMTEyOTQ3MTcyNQ%3D%3D.2" alt="">
<img src="https://i.ytimg.com/vi/S1-OQXWqJEw/maxresdefault.jpg" alt="">
<img src="https://scontent-lht6-1.cdninstagram.com/vp/40a4ad210b679ea4732004cf585f0daf/5D5A98E1/t51.2885-15/e35/41105243_1175640139241899_4537166565609380814_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&se=7&ig_cache_key=MTg3MTU4ODc5Mjk2MTY1MDU2NA%3D%3D.2" alt="">
